<h2> Component two </h2>

<!--
<ng-container *rxLet="service.obs$; let val">
 -->
<ng-container>
  <ng-container *ngIf="service.obs$ | async as val">
    <!-- <pre>{{ service.obs$ | async }} </pre> -->
    <!-- <pre>{{ service.obs$ | push }} </pre> -->
    <!-- <pre>{{ val() }} </pre> -->
    <pre>{{ val }} </pre>
    <ng-container *ngIf="logChangeDetection()"></ng-container>
    <div [style]="{'display': 'flex', 'justify-content': 'space-between'}">
      <button (click)="({})">Component two</button>

      <!-- Event bindings -->

      <!--
       <button [unpatch]="['click']" (click)="increment()">Increment</button>
       <span *rxLet="counter$, patchZone: false; let n" [style.font-size.px]="28">{{ n }}</span>
       -->

      <!--
      <button [unpatch]="['click']" (click)="increment()">Increment</button>
      <span [style.font-size.px]="28">{{ counter() }}</span>
      -->

      <!--
      <button (click)="increment()">Increment</button>
      <span [style.font-size.px]="28">{{ counter() }}</span>
      -->

      <button (click)="increment()">Increment</button>
      <span [style.font-size.px]="28">{{ _counter }}</span>
    </div>
    <h2>Component two</h2>
    <app-component-three></app-component-three>
  </ng-container>
  <!--
  -->
</ng-container>
