<!--<ng-container *rxLet="
    obs$;
    let n;
    error: error;
    suspense: suspense;
    patchZone: false;
  "
>
    {{ n }}
</ng-container>

<ng-template #suspense>Loading</ng-template>
<ng-template #error>ERROR</ng-template>
-->

<ng-container *ngIf="logChangeDetection()"></ng-container>
<button (click)="({})">Home Component</button>
<h2>Home Component</h2>
<app-component-one></app-component-one>
<!--
with signal -> signal input
<app-component-two [val]="signalVal()"></app-component-two>
-->

<!--
with obs -> async pipe -> signal input
<app-component-two [val]="service.obs$ | async"></app-component-two>
-->

<!--
with obs -> push pipe -> signal input
<app-component-two [val]="service.obs$ | push"></app-component-two>
-->

<app-component-two (counterChange)="onCounterChange($event)"></app-component-two>
