<div [style.border]="'3px solid blue'" [style.padding.px]="50" #rootDiv>
  <h2 [style.margin-top]="0"> App Root </h2>
  <ng-container *ngIf="logChangeDetection()"></ng-container>
  <app-homepage></app-homepage>
</div>
