body, html, *, *::before, *::after {
  box-sizing: border-box;
  font-size: large;
}

app-homepage, app-component-one, app-component-two, app-component-three {
  padding: 40px;
  border: 3px solid;
}

app-homepage {
  border-color: green;
}

app-homepage {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

app-component-one {
  border-color: orange;
}

app-component-two {
  border-color: red;

  pre {
    font-size: 24px;
    font-weight: bold;
  }
}

app-component-three {
  border-color: purple;
}


button {
  padding: 10px;
  border: none;
  color: white;
  font-weight: bold;
  background-color: black;
  max-width: fit-content;
  border-radius: 6px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
  cursor: pointer;
  transition: transform 0.3s ease-in-out;

  &:hover {
    transform: scale(1.1);
  }
}
